.text-body {
    cursor: default;
}

.details-link-back {
    width: 90%;
    position: absolute;
    text-decoration: none;
    color: #D6D9DB;
    display: flex;
    justify-content: flex-end;
    /* background-color: black; */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}

