#create-form {
    width: 100%;
}
.input-field .form-control {
    width: 95%;
    resize: none;
    font-size: 1.1rem;
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    color: #D6D9DB;
    outline: none;
}

.form-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.home-buttons-wrappers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.home-buttons-wrappers .home-button, .home-buttons-wrappers .modal-button, .details-button, .edit-button {
    width: 85px;
    height: 40px;
    align-self: self-end;
    background-color: var(--blue-color);
    border: none;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: unset;
}

.home-buttons-wrappers .typing:hover {
    opacity: 0.8;
    cursor: pointer;
}

.media-container .media {
    object-fit: fill;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.create-modal-btn {
    width: 200px;
    height: 50px;
    align-self: self-end;
    background-color: var(--blue-color);
    border: none;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-modal-btn:hover {
    opacity: 0.9;
    color: white;
    cursor: pointer;
}

.create-post-modal-content .media {
    height: 400px;
}

.create-post-modal-content {
    background-color: var(--background-color);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #008CBA;
    border-radius: 10px;
    box-shadow: 0 5px 10px #efefef;
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow-x: hidden;
}

.create-post-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    
}

.disabled {
    cursor: not-allowed;
    background-color: #006282!important;
    color: #959799!important;
}

.create-post-modal-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 10;
    position: sticky;
    top: -20px;
    background-color: var(--background-color);
    /* padding: 10px; */
    padding-bottom: 10px;
    padding-top: 10px;
}


.create-container.details {
    border-top: 1px solid var(--border-color);
    padding-top: 10px;
}