.profile-container {
    width: 600px;
    height: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

#profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profile-card-container {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--border-color);
}

.user-username {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.user-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-about {
    font-size: 0.8rem;
    font-weight: 100;
    color: grey;
    margin-bottom: 5px;
}

.user-button-container button {
    width: 85px;
    height: 40px;
    background-color: var(--blue-color);
    border: none;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 8px;
}

.profile-card-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}
.user-button-container a {
    text-decoration: none;
    color: var(--text-color);
}
.user-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card-stats-container {
    width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* justify-self: center; */
    margin: auto;
    margin-top: 15px;
    color: var(--text-color);
}

.stats-container {
    text-align: center;
}

.profile-posts-container {
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.profile-posts-container a {
    text-decoration: none;
    color: var(--text-color);
}

.posted-by {
    float: right;
    text-decoration: none;
    color: var(--text-color);
}

.top-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span.username-profile {
    color: var(--blue-color);
    text-decoration: none;
}

.username-profile {
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    color: gray;
}

a.username-profile:hover {
    opacity: 0.6;
    background-color: rgb(145, 100, 145);
    color: black;
}

p.small-text {
    color: white;
    letter-spacing: 1px;
    border: 1px solid var(--border-color);
    padding: 5px;
}

.profile-link-style {
    color: gray;
    text-decoration: none;
}
.profile-link-style:hover {
    opacity: 0.6;
    background-color: rgb(145, 100, 145);
    color: black;
}