.image-icon {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    /* text-align: center; */
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: #008CBA;
    font-size: 1.3rem;
}

.image-icon:hover {
    cursor: pointer;
    background-color: var(--border-color);
}

