.home-container {
    width: 600px;
    height: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
.home-no-auth {
    color: #D6D9DB;
    text-align: center;
    padding: 30px;
}

.header {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.9);
}

.create-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 90%;
    color: #D6D9DB;
    font-size: 1.5rem;
}
.input-field {
    padding-top: 10px;
}

.details-link {
    text-decoration: none;
    color: var(--text-color);
}

.user-avatar, .post-container .user-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    align-self: self-start;
}


.like:hover {
    cursor: pointer;
    color: #E52B50!important;
    opacity: 0.8;
}

.comment:hover {
    opacity: 0.8;
    color: #7CB9E8;
    cursor: pointer;
}

.fa-trash:hover {
    color: #FF0000!important;

}


#create-form button:hover {
    opacity: 0.8;
}

.profile-link {
    color: #D6D9DB;
    font-size: 1.2rem;
    text-decoration: none;
}

.post-container {
    display: flex;
    padding: 1.5rem;
    border-top: 1px solid var(--border-color);
}

.user-info-body {
    margin-left: 5px;
    width: 100%;
}
.text-body {
    color: #D6D9DB;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.1rem;
    margin: 8px 0px 8px 5px;
    white-space: pre-wrap;
}

.post-text-container {
    width: 100%;
}

.post-text-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #D6D9DB;
    margin-top: 10px;
    margin-left: 5px;
    align-items: center;
}

.small-text {
    font-size: 0.8rem;
}

.post-text-container ul .small-text {
    margin-left: 3px;
}



.details-li:hover {
    opacity: 0.8;
}

.details-li {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: self-end;
    border: none;
    color: #D6D9DB;
    cursor: pointer;
}




.emoji-buttons-wrappers {
    display: flex;
    align-items: center;
}
.media-container {
    border-top: 1px solid var(--border-color);
    position: relative;
    padding-top: 10px;
}

.close-media {
    width: 30px;
    height: 30px;
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.close-media:hover {
    opacity: 0.8;
    cursor: pointer;
}

.media-container .home-card {
    margin-top: 10px;
}

.post-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edited {
    color: var(--text-color);
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.edit-btn {
    text-decoration: none;
    color: var(--text-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -15px;
    background-color: var(--background-color);
    border-radius: 20px;
    border: 1px solid var(--blue-color);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 5px 10px;
    z-index: 1;
}
.dropdown-content:hover {
    opacity: 0.8;
    cursor: pointer;
}
.triple-dots {
    color: var(--text-color);
}
.dropdown:hover .dropdown-content {
    display: block;
}