.home-container {
    width: 100%;
    height: 100%;
}
.home-no-auth {
    color: #D6D9DB;
    text-align: center;
    padding: 30px;
}

.header {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    border-bottom: 1px solid #D6D9DB;
}

.create-container {
    
    border-bottom: 1px solid #D6D9DB;
}
.title {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 90%;
    color: #D6D9DB;
    font-size: 1.5rem;
}
.input-field {
    width: 100%
}

.input-field textarea {
    width: 95%;
    resize: none;
    font-size: 1rem;
    background-color: #1D1F23;
    border: 1px solid #D6D9DB;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    color: #D6D9DB;
}

.form-container img, .post-container img {
    height: 50px;
    border-radius: 50%;
    align-self: self-start;
}

.form-container {
    display: flex;
    /* width: 100%; */
    align-items: center;
}

#create-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}


#create-form button {
    width: 85px;
    height: 40px;
    align-self: self-end;
    background-color: #008CBA;
    border: none;
    border-radius: 15px;
    color: #D6D9DB;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: -8px;
}

#create-form button:hover {
    opacity: 0.8;
}

.profile-link {
    color: #D6D9DB;
    font-size: 1.2rem;
    text-decoration: none;
}

.post-container {
    display: flex;
    padding: 1.5rem;
    border-bottom: 1px solid #D6D9DB;
}

.user-info-body {
    margin-left: 5px;
}
.text-body {
    color: #D6D9DB;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.1rem;
    margin-left: 5px;
    margin-top: 8px;
}
.post-text-container {
    width: 100%;
}

.post-text-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #D6D9DB;
    margin-top: 10px;
    margin-left: 5px;
    align-items: center;
}

.small-text {
    font-size: 0.8rem;
}

.post-text-container ul .small-text {
    margin-left: 3px;
}

.details-link {
    text-decoration: none;
    color: #D6D9DB;
}

.details-li:hover {
    opacity: 0.8;
}

.details-li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 40px;
    align-self: self-end;
    background-color: #008CBA;
    border: none;
    border-radius: 15px;
    color: #D6D9DB;
    cursor: pointer;
}