.gif-icon:hover {
    background-color: var(--border-color);
    cursor: pointer;

}

.gif-icon {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.gif-modal {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Modal Content/Box */
.gif-modal-content {
    background-color: var(--background-color);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #008CBA;
    border-radius: 10px;
    box-shadow: 0 5px 10px #efefef;
    width: 650px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;

}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

.gif-modal-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 999;
    position: sticky;
    top: -20px;
    background-color: var(--background-color);
    /* padding: 10px; */
    padding-bottom: 10px;
    padding-top: 10px;
}

.modal-gifs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-gifs img {
    width: 30%;
    height: auto;
    object-fit: cover;
    border: 1px solid #008CBA;
    margin-bottom: 10px;
}
.modal-gifs img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.gif-searchbar {
    font-family: 'FontAwesome';
    width: 200px;
    height: 2rem;
    outline: none;
    /* writing-mode: horizontal-tb; */
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--blue-color);
    font-size: 13px;
    padding-left: 5px;
}

.gif-load-more {
    width: 85px;
    height: 40px;
    background-color: var(--blue-color);
    border: none;
    border-radius: 15px;
    color: #D6D9DB;
    font-size: 0.9rem;
    cursor: pointer;
    float: right;
}

.gif-search-btn {
    font-size: 1.2rem;
    background-color: black;
    color: var(--text-color);
    border: 1px solid var(--blue-color);
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.gif-search-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}