.register-container {
    display: flex;
    flex-direction: column;
}

.register-container form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.register-container form {
    margin: auto;
}

.register-container input {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    border: 0;
}

.register-container form button {
    width: 85px;
    height: 40px;
    background-color: var(--blue-color);
    border: none;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-container form button:hover {
    opacity: 0.8;
}

.register-container textarea {
    resize: none;
    font-size: 1rem;
    border: 1px solid #D6D9DB;
    border-inline: 0px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

/* The Modal (background) */
.register-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(211,211,211,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .register-modal-content {
    background-color: var(--background-color);
    margin: auto;
    /* padding: 20px; */
    border: 1px solid var(--border-color);
    width: 600px;
    height: 500px;
    border-radius: 20px;
  }
  
  /* The Close Button */
  .register-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .register-close:hover,
  .register-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }