@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

:root {
  --text-color: #D6D9DB;
  --blue-color: #008CBA;
  --border-color: rgb(47, 51, 54);
  --background-color: #000000;
}

.root {
  width: 100vw;
  height: 100vh;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}


@media (max-width: 750px) {
  .navbar a span, .navbar-noauth a span {
    display: none;
}

  .navbar-container {
    width: 16vw!important;
  }

  .create-modal-btn {
    width: auto!important;
    padding: 10px;
}

.post-container, .create-container {
  padding: 1rem!important;
}

.home-container {
  width: 100%!important;
}
}